@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-[#040404];
}

.bg-overlay {
    @apply bg-my bg-fixed bg-cover bg-center opacity-30;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.snap-section{
    scroll-snap-align: start;
}